h1= title

    
    div.content
        div.row 
            div.span6.offset6
                h2 Days Until Chat 1.8
                div.timebox
                    h1#countbox
                    h2#hourbox
                    h2#minutebox
                    h2#secondbox 
