!!! 
html 
    head
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js') 
        title= title 
        link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css') 
        script
            dateFuture = new Date(2012,5,18,6,56,28)
            function GetCount(){
                dateNow = new Date(); 
                amount = dateFuture.getTime() - dateNow.getTime(); 
                delete dateNow;
                if(amount < 0)
                    $('#countbox').html('<h1>Now</h1>')
                else
                    days=0;hours=0;mins=0;secs=0;out="";

                    amount = Math.floor(amount/1000);//kill the "milliseconds" so just secs

                    days=Math.floor(amount/86400);//days
                    amount=amount%86400;
                    $('#countbox').html(days + ' Days Left')

                    hours=Math.floor(amount/3600);//hours
                    amount=amount%3600;
                    $('#hourbox').html(hours + ' Hours ')

                    mins=Math.floor(amount/60);//minutes
                    amount=amount%60;
                    $('#minutebox').html(mins + ' Minutes ')

                    secs=Math.floor(amount);//seconds
                    $('#secondbox').html(secs + ' Seconds ')

                    setTimeout("GetCount()", 1000)

                    if(days != 0){out += days +" day"+((days!=1)?"s":"")+", ";}
                    // if(days != 0 || hours != 0){out += hours +" hour"+((hours!=1)?"s":"")+", ";}
                    // if(days != 0 || hours != 0 || mins != 0){out += mins +" minute"+((mins!=1)?"s":"")+", ";}
                    // out += secs +" seconds";
                    // $('#countbox').html(out + ' Days Left')

                // $('#countbox').html('<p>Hello</p>' + amount)
            }


                        

    body 
        div.topbar 
            div.fill 
                div.container 
                    a(href='#').brand #{title} 
                    ul.nav 
                        li.active 
                            a(href='#') Home 
    
                             
                             
    div.container!= body 
        footer 
            p &copy; Grindr LLC 2012
        script
            $(GetCount());
